html, body{
    padding: 0;
    margin: 0 auto;
    background-color: #232931;
    color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
}

.header, .footer{
    height: 12.5%;
    width: 100%;
}

.main{
    height: 75%;
    width: 100%;
}

.header, .main{
    display: grid;
    grid-template-columns: 66% 33%;
}

#current-username, #users-label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#messages, #online-users{
    overflow: auto;
}


input{
    width: 100%;
    height: 75%;
    border-radius: 5px;
    border: 3px solid #232931;
    font-size: x-large;
}

form{
    width: 75%;
    height: 100%;
    font-size: x-large;
}

ul{
    list-style: none;
    margin: 10px;
    padding:5px;
    background-color: #eeeeee;
    border-radius: 5px;
}

li{
    margin: 0;
    padding: 3px;
    color: #232931;
}

h1{
    letter-spacing: .15em;
}